<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body style="background-color:#A9CCE3;">
  <ul th:each="ingresos: ${ingreso}">
      <li> <h3 th:text="${ingresos.name}"></h3> <li/>
      <li> <h3 th:text="${ingresos.lastName}"></h3> <li/>
      <li> <h3 th:text="${ingresos.email}"></h3> <li/>
  </ul>
</body>
</html>
